# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\_ComputerScience\Master\CS4240 Deep Learning (2020-21 Q3)\Project\Corner-Detection-ANN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
